{% extends 'template.html' %} <!-- Extend from template.html -->

<!-- Head of the page -->
{% block head %}
<title> Home </title> <!-- Set title of the page -->
<!-- Import corresponding css file -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/controlPageDesign.css') }}">
<!-- Import corresponding javascript files -->
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-database.js"></script>
{% endblock %}

<!-- Content of the page -->
{% block content %}
<div class="row justify-content-center" id="scheduleRow">
    <form method="post" action="/switchIntervalsOn"> <!-- Create form for changing system operating mode -->
        <!-- CSRF token needed for preventing cross site request forgery -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label class="dataToDisplay" for="switchIntervalsOn">Switch intervals on/off:</label>
        <input id="switchIntervalsOn" checked data-toggle="toggle" name="switchIntervalsOn"
               onchange="this.form.submit()" type="checkbox" value="1">
        <!-- If the status of the page is changed, the form will be submitted -->
        {% if status == 1 %}
        <!-- If status is 1, the button will remain checked and schedule button will appear -->
        <script>
            document.getElementById("switchIntervalsOn").checked = true;
        </script>
        <a class="btn btn-primary" id="scheduleButton" href="/setIntervalsForWorkingDays">Schedule</a>
        {% else %}
        <!-- If status is different from 1, then the button will be unchecked and the schedule button will be hidden -->
        <script>
            document.getElementById("switchIntervalsOn").checked = false;
        </script>
        {% endif %}
    </form>
</div>
<div class="row">
    <div class="col-md-6" id="monitorFirstRoom">
        <p class="dataToDisplay">Temperature in the first room:</p>
        <output id="temperatureRoom1" class="p-design"></output>
        <i>°C</i> <!-- Display temperature in the first room -->
        <p class="dataToDisplay">Humidity in the first room:</p>
        <output id="humidityRoom1" class="p-design"></output>
        <i>%</i> <!-- Display humidity in the first room -->
        <form action="/home" method="POST" id="formRoom1-design">
            <!-- CSRF token needed for preventing cross site request forgery -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% if status == 0 %}
            <input type="range" id="outputValue1" name="outputValue1" min="15" max="32" step="1"
                   onchange="rangeValueRoom1.value=this.value">
            <output id="rangeValueRoom1" name="rangeValueRoom1"></output>
            <br>
            <button type="submit" class="btn btn-secondary" id="submitButtonRoom1">Set temperature</button>
            <!-- The slider that allows setting temperature and submit button are displayed only if the status is 0 -->
            {% endif %}
        </form>
    </div>
    <div class="col-md-6" id="monitorSecondRoom">
        <p class="dataToDisplay">Temperature in the second room:</p>
        <output id="temperatureRoom2" class="p-design"></output>
        <i>°C</i> <!-- Display temperature in the second room -->
        <p class="dataToDisplay">Humidity in the second room:</p>
        <output class="p-design" id="humidityRoom2"></output>
        <i>%</i><!-- Display humidity in the second room -->
        <form action="/home" method="POST" id="formRoom2-design">
            <!-- CSRF token needed for preventing cross site request forgery -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% if status == 0 %}
            <input type="range" id="outputValue2" name="outputValue2" min="15" max="32" step="1"
                   onchange="rangeValueRoom2.value=this.value">
            <output id="rangeValueRoom2" name="rangeValueRoom2"></output>
            <br>
            <button type="submit" class="btn btn-secondary" id="submitButtonRoom2">Set temperature</button>
            <!-- The slider that allows setting temperature and submit button are displayed only if the status is 0 -->
            {% endif %}
        </form>
    </div>
    <!-- Include database listeners for updating values from database to web application -->
    <script src="../static/javascript/databaseListeners.js"></script>
</div>
{% endblock %}
