{% extends 'template.html' %} <!-- Extend from template.html -->

<!-- Head of the page -->
{% block head %}
<title> Register </title> <!-- Set title of the page -->
<!-- Import corresponding css file -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registerPageDesign.css') }}">
{% endblock %}

<!-- Content of the page -->
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="explanation"> <!-- Div containing explanation -->
        <h3 class="h3-design">How to create account?</h3> <!-- Subtitle -->
        <p class="p-design">As admin, you can create another accounts for your family members. When you create an
            account, you have the
            possibility to give, to newly created account, administrator rights.</p>
    </div>
    <!-- Create register form -->
    <form class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="registerForm-design" method="POST" action="/register">
        <!-- CSRF token needed for preventing cross site request forgery -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <h3 class="h3-design">Give it a try!</h3> <!-- Subtitle -->
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username"
                   name="username" required> <!-- Field used to enter username -->
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password"
                   name="password" required> <!-- Field used to enter password -->
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm password:</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Enter password again"
                   name="confirmPassword" required> <!-- Field used to confirm password -->
        </div>
        <div>
            <!-- Field used to set admin rights -->
            <label for="admin_role"> Give admin privileges? </label>
            <input type="checkbox" id="admin_role" name="admin_role" value="True">
        </div>
        <!-- Button used to submit data -->
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
</div>
{% endblock %}