#monitorFirstRoom {
    padding: 10%;
    text-align: center;
}

#monitorSecondRoom {
    padding: 10%;
    text-align: center;
}

#submitButtonRoom1{
    margin-top: 3%;
}

#submitButtonRoom2{
    margin-top: 3%;
}

.p-design{
    margin-bottom: 10%;
}