.designAccountsDiv {
    padding-top: 5%;
    padding-left: 50%;
    padding-right: 50%;
    padding-bottom: 15%;
    height: 80vh;
    text-align: center;
}

table {
    width: 100%;
}

th {
    padding-bottom: 5vh;
    text-decoration: underline;
}

td {
    padding-bottom: 2vh;
}

#delete-button {
    width: 130px;
    font-size: small;
}

#giveRights-button {
    width: 130px;
    font-size: small;
}

#removeRights-button {
    width: 130px;
    font-size: small;
}

.inactive-button {
    width: 130px;
    font-size: small;
    pointer-events: none;
    opacity: 0.1;
}