#registerForm-design {
    padding-top: 5%;
    padding-bottom: 15%;
    padding-left: 15%;
    padding-right: 15%;
}

#explanation {
    /*font-family: "Brush Script MT", Brush Script Std, cursive;*/
    font-family: Papyrus, serif;
    /*font-size: 125%;*/
    padding: 10vh;
}

.h3-design {
    text-align: center;
    text-decoration: underline;
}

.p-design {
    text-align: justify;
    text-indent: 20%;
}
