{% extends 'template.html' %}

{% block head %}
<title> Accounts </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accountsPageDesign.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 designAccountsDiv">
        <table>
            <tr>
                <th>Username</th>
                <th>Admin rights</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
            <div class="modal fade" id="deleteAccount{{user.id}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Are you sure that you want to delete the account for {{user.username}}?</p>
                            <a href="{{ url_for('deleteAccount', id=user.id)}}" class="btn btn-danger">Yes</a>
                            <a class="btn btn-success" data-dismiss="modal">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="giveRights{{user.id}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Are you sure that you want to give admin rights to {{user.username}}?</p>
                            <a href="{{ url_for('giveAdminRights', id=user.id)}}" class="btn btn-danger">Yes</a>
                            <a class="btn btn-success" data-dismiss="modal">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="removeRights{{user.id}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Are you sure that you want to remove the admin rights for {{user.username}}?</p>
                            <a href="{{ url_for('removeAdminRights', id=user.id)}}" class="btn btn-danger">Yes</a>
                            <a class="btn btn-success" data-dismiss="modal">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.admin_role }}</td>
                <td>
                    {% if user.id != current_user.id %}
                    <a href="#deleteAccount{{user.id}}" class="btn btn-danger" data-toggle="modal">Delete
                        account</a>
                    {% if user.admin_role %}
                    <a href="#removeRights{{user.id}}" class="btn btn-danger" id="danger-button" data-toggle="modal">Remove
                        rights</a>
                    {% else %}
                    <a href="#giveRights{{user.id}}" class="btn btn-success" id="success-button" data-toggle="modal">Give
                        rights</a>
                    {% endif %}
                    {% else %}
                    <a class="btn btn-danger inactive-button">Delete account</a>
                    {% if user.admin_role %}
                    <a class="btn btn-danger inactive-button">Remove rights</a>
                    {% else %}
                    <a class="btn btn-success inactive-button">Give rights</a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}