{% extends 'template.html' %}

{% block head %}
<title> Home </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/controlPageDesign.css') }}">
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-database.js"></script>
{% endblock %}

{% block content %}
<div class="row justify-content-center" id="scheduleRow">
    <form method="post" action="/switchIntervalsOn">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="switchIntervalsOn"> Switch intervals on/off: </label>
        <input id="switchIntervalsOn" checked data-toggle="toggle" name="switchIntervalsOn"
               onchange="this.form.submit()" type="checkbox" value="1">
        {% if status == 1 %}
        <script>
            document.getElementById("switchIntervalsOn").checked = true;
        </script>
        <a class="btn btn-primary" id="scheduleButton" href="/setIntervalsForWorkingDays">Schedule</a>
        {% else %}
        <script>
            document.getElementById("switchIntervalsOn").checked = false;
        </script>
        {% endif %}
    </form>
</div>
<div class="row">
    <div class="col-md-6" id="monitorFirstRoom">
        <h3>Temperature in the first room:</h3>
        <output id="temperatureRoom1" class="p-design"></output>
        <h3>Humidity in the first room:</h3>
        <output id="humidityRoom1" class="p-design"></output>
        <form action="/home" method="POST" id="formRoom1-design">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% if status == 0 %}
            <input type="range" id="outputValue1" name="outputValue1" min="15" max="32" step="1"
                   onchange="rangeValueRoom1.value=this.value">
            <output id="rangeValueRoom1" name="rangeValueRoom1"></output>
            <br>
            <button type="submit" class="btn btn-secondary" id="submitButtonRoom1">Set temperature</button>
            {% endif %}
        </form>
    </div>
    <div class="col-md-6" id="monitorSecondRoom">
        <h3>Temperature in the second room:</h3>
        <output id="temperatureRoom2" class="p-design"></output>
        <h3>Humidity in the second room:</h3>
        <output id="humidityRoom2" class="p-design"></output>
        <form action="/home" method="POST" id="formRoom2-design">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% if status == 0 %}
            <input id="outputValue2" type="range" name="outputValue2" min="15" max="32" step="1"
                   onchange="rangeValueRoom2.value=this.value">
            <output id="rangeValueRoom2" name="rangeValueRoom2"></output>
            <br>
            <button type="submit" class="btn btn-secondary" id="submitButtonRoom2">Set temperature</button>
            {% endif %}
        </form>
        <script src="../static/javascript/autoDivRefresh.js"></script>
    </div>
</div>
{% endblock %}
