{% extends 'template.html' %}

{% block head %}
<title> Home </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/controlPageDesign.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6" id="monitorFirstRoom">
        <h3 class="h3-design">Temperature in the first room:</h3>
        <p class="p-design">{{ tempR1 }}</p>
        <h3 class="h3-design">Humidity in the first room:</h3>
        <p class="p-design">{{ humR1 }}%</p>
    </div>
    <div class="col-md-6" id="monitorSecondRoom">
        <h3 class="h3-design">Temperature in the second room:</h3>
        <p class="p-design">{{ tempR2 }}</p>
        <h3 class="h3-design">Humidity in the second room:</h3>
        <p class="p-design">{{ humR2 }}%</p>
    </div>

    <div class="container">
        <form action="/" method="POST">
            <input type="number" name="content" id="content"><br>
            <input type="submit" value="Set temperature">
        </form>
        <br>

        <form action="/room2" method="POST">
            <input type="number" name="content2" id="content2"><br>
            <input type="submit" value="Set temperature">
        </form>
    </div>
</div>
{% endblock %}
