{% extends 'base.html' %}

{% block head %}
<title> Home </title>
{% endblock %}

{% block body %}
<div>
    <form action="/" method="POST">
        <label for="tempRoom1">Temperature Room1</label>
        <input type="number" name="tempRoom1" id="tempRoom1" value={{ data1 }}></input>
        <input type="number" name="content" id="content">
        <input type="submit" value="Set temperature">
    </form><br>

    <form action="/room2" method="POST">
        <label for="tempRoom2">Temperature Room2</label>
        <input type="number" name="tempRoom2" id="tempRoom2" value={{ data2 }}></input>
        <input type="number" name="content2" id="content2">
        <input type="submit" value="Set temperature">
    </form>
</div>
{% endblock %}