{% extends 'template.html' %}

{% block head %}
<title> Register </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registerPageDesign.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-sm-4 col-12" id="explanation">
        <h3 class="h3-design">How to create account?</h3>
        <p class="p-design">As admin, you can create another accounts for your family members. When you create an
            account, you have the
            possibility to give to that account administrator privileges. </p>
    </div>
    <form class="col-md-8 col-sm-8 col-12" id="registerForm-design" method="POST" action="/register">
        <h3 class="h3-design">Give it a try!</h3>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username"
                   name="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password"
                   name="password">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm password:</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Enter password again"
                   name="confirmPassword">
        </div>
        <div>
            <label for="admin_role"> Give admin privileges? </label>
            <input type="checkbox" id="admin_role" name="admin_role" value="True">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
</div>
{% endblock %}