{% extends 'base.html' %}

{% block head %}
<title> Home </title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-sm-4 col-12 explanation">
        <h5>How to create account?</h5>
        <p>As admin, you can create another accounts for your family members. When you create an account, you have the possibility to give to that account administrator privileges. </p>
    </div>
        <form class="designRegisterForm col-md-8 col-sm-8 col-12" method="POST" action="/register">
            <h5>Give it a try!</h5>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username"
                       name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password"
                       name="password">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm password:</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Enter password again"
                       name="confirmPassword">
            </div>
            <div>
                <label for="admin_role"> Give admin privileges? </label>
                <input type="checkbox" id="admin_role" name="admin_role" value="True">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
</div>
{% endblock %}