{% extends 'template.html' %}
{% block head %}
<title> Schedule </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/schedulingPageDesign.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="title">
            <h3 class="h3-design">Working days</h3>
        </div>
        <form class="scheduleWorkingDaysForm-design" method="post" action="/setIntervalsForWorkingDays">
            <div class="form-inline">
                <div class="form-group">
                    <input type="time" class="form-control" name="firstWorkingDayInterval" id="firstWorkingDayInterval"
                           required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="temperatureFirstWDInterval"
                           id="temperatureFirstWDInterval"
                           placeholder="Temperature 1"
                           required>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <input type="time" class="form-control" name="secondWorkingDayInterval"
                           id="secondWorkingDayInterval"
                           required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="temperatureSecondWDInterval"
                           id="temperatureSecondWDInterval"
                           placeholder="Temperature 2"
                           required>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <input type="time" class="form-control" name="thirdWorkingDayInterval" id="thirdWorkingDayInterval"
                           required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="temperatureThirdWDInterval"
                           id="temperatureThirdWDInterval"
                           placeholder="Temperature 3" required>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <input type="time" class="form-control" name="fourthWorkingDayInterval"
                           id="fourthWorkingDayInterval"
                           required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="temperatureFourthWDInterval"
                           id="temperatureFourthWDInterval"
                           placeholder="Temperature 4" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Set intervals</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="title">
            <h3 class="h3-design">Weekend</h3>
        </div>
        <form class="scheduleWeekendForm-design" method="post" action="/setIntervalsForWeekend">
            <div class="form-inline">
                <div class="form-group">
                    <input type="time" class="form-control" name="firstWeekendInterval" id="firstWeekendInterval"
                           required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="temperatureFirstWInterval"
                           id="temperatureFirstWInterval"
                           placeholder="Temperature 1" required>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <input type="time" class="form-control" name="secondWeekendInterval" id="secondWeekendInterval"
                           required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="temperatureSecondWInterval"
                           id="temperatureSecondWInterval"
                           placeholder="Temperature 2" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Set intervals</button>
        </form>
    </div>
</div>
{% endblock %}